/* For mobile phones: */
@media (orientation: portrait) {
  textarea {
    min-width: -webkit-fill-available;
    height: 100px;
    font-family: monospace; /* Monospace font for typewriter look */
    overflow: auto; /* Hide overflow to create typewriter effect */
    max-height: 40%;
    font-size: medium;
  }
  table#codeTable tbody#tabledata tr {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 50px;
    font-style: normal;
    text-wrap: nowrap;
    letter-spacing: 5px;
  }
  body {
    min-width: 270px;
  }

  ul#preview {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    height: 125px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    border-radius: 15px;
}

}
