@media print {
  #tokenbox,
  #head {
    display: none;
  }
  #body,
  h2 {
    display: block;
    color: white;
    font-size: medium;
    font-weight: bold;
    height: 10px;
    padding: 10px 20px 20px 20px;
    margin: 5px 0px 5px 0px;
    background-color: #ffffff;
    background-image: linear-gradient(
      to bottom right,
      rgb(0, 0, 255),
      rgb(0, 140, 255)
    );
    border: 0.1rem solid #0000ff;
    border-radius: 20px 5px 5px 5px;
    user-select: none;
  }
}
