
.sheba_shomuho {
    background-image: url(../img/shebashomuho.png);
    background-repeat: no-repeat;
    display: block;
    border-radius: 0px 0px 10px 10px;
    list-style: none;
}

.Avro-Keyboard {
    width: 100px;
    height: 100px;
    background-position: 0 0;
}

.Birth_Registration {
    width: 100px;
    height: 100px;
    background-position: 0 -100px;
}

.Canva {
    width: 100px;
    height: 100px;
    background-position: 0 -200px;
}

.Color_Photo {
    width: 100px;
    height: 100px;
    background-position: 0 -300px;
}

.Copilot_GPT-4 {
    width: 100px;
    height: 100px;
    background-position: 0 -400px;
}

.Doccument_Scan {
    width: 100px;
    height: 100px;
    background-position: 0 -500px;
}

.Google_Bard {
    width: 100px;
    height: 100px;
    background-position: 0 -600px;
}

.Google_Docs {
    width: 100px;
    height: 100px;
    background-position: 0 -700px;
}

.Google_Search {
    width: 100px;
    height: 100px;
    background-position: 0 -800px;
}

.Job_Application {
    width: 100px;
    height: 100px;
    background-position: 0 -900px;
}

.Online_Fees {
    width: 100px;
    height: 100px;
    background-position: 0 -1000px;
}

.Passport_Application {
    width: 100px;
    height: 100px;
    background-position: 0 -1100px;
}

.Police_Clearance {
    width: 100px;
    height: 100px;
    background-position: 0 -1200px;
}

.Scan_To_PDF {
    width: 100px;
    height: 100px;
    background-position: 0 -1300px;
}

.Sheets {
    width: 100px;
    height: 100px;
    background-position: 0 -1400px;
}

.Train_Ticket {
    width: 100px;
    height: 100px;
    background-position: 0 -1500px;
}

.Voter_Registration {
    width: 100px;
    height: 100px;
    background-position: 0 -1600px;
}

.Web {
    width: 100px;
    height: 100px;
    background-position: 0 -1700px;
}

.Web-_2_ {
    width: 100px;
    height: 100px;
    background-position: 0 -1800px;
}

.WhatsApp_Web {
    width: 100px;
    height: 100px;
    background-position: 0 -1900px;
}

.Windows_11 {
    width: 100px;
    height: 100px;
    background-position: 0 -2000px;
}

.YouTube {
    width: 100px;
    height: 100px;
    background-position: 0 -2100px;
}

.biman-airlines {
    width: 100px;
    height: 100px;
    background-position: 0 -2200px;
}

.echalan {
    width: 100px;
    height: 100px;
    background-position: 0 -2300px;
}

.imgur_uploader {
    width: 100px;
    height: 100px;
    background-position: 0 -2400px;
}

.metertoken {
    width: 100px;
    height: 100px;
    background-position: 0 -2500px;
}

.remove-background {
    width: 100px;
    height: 100px;
    background-position: 0 -2600px;
}

.remove-bg {
    width: 100px;
    height: 100px;
    background-position: 0 -2700px;
}
